<!-- <full-calendar [options]="calendarOptions">
  <ng-template #eventContent let-arg>
    <b>{{ arg.event.title }}</b>
  </ng-template>
</full-calendar> -->



<div class="calendar-container">
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>

<div class="form-container">
  <label>Nom:</label>
  <input type="text" [(ngModel)]="formData.name" placeholder="Entrez votre nom" />

  <label>Email:</label>
  <input type="email" [(ngModel)]="formData.email" placeholder="Entrez votre e-mail" />

  <label>Message:</label>
  <textarea [(ngModel)]="formData.message" placeholder="Votre message"></textarea>

  <label>Fichier:</label>
  <input type="file" (change)="onFileSelected($event)" />
  <span class="file-info" *ngIf="formData.file">
    📎 {{ formData.file.name }} (*fichiers pdf uniquement)
  </span>

  <div class="buttons">
    <button (click)="clearForm()">Clear All</button>
    <button class="submit-btn" (click)="submitForm()">Envoyer 🚀</button>
  </div>
</div>
