<app-layout-header
  [bannerMenu]="banner_menu()"
  [bannerTitle]="banner_title()"
  (changeLanguage)="onLanguageChange($event)"
></app-layout-header>
<app-layout-blog [bloc_1]="bloc_1()"></app-layout-blog>
<app-layout-maps [bloc_2]="bloc_2()"></app-layout-maps>
<!-- <app-layout-calendar></app-layout-calendar> -->
<app-layout-slides [bloc_3]="bloc_3()"></app-layout-slides>
<app-layout-experience></app-layout-experience>
<app-layout-gallery></app-layout-gallery>
<app-layout-explore></app-layout-explore>
<app-layout-footer></app-layout-footer>
