.maps-container {
  background: url("../../../../public/assets/images/maps.png") lightgray -0.444px 0px / 100.072% 100% no-repeat;

  width: 100%;
  max-height: 698px;
  height: 100%;
  flex-shrink: 0;

  border-radius: 20px;
}
