<div class="experience-container">
  <!-- Left Text Section -->
  <div class="text-section">
    <h1>
      <span class="highlight"
        >Des expériences inoubliables
        <span class="light-text">LOREM IPSUM TRUC</span></span
      >
      <span class="highlight"></span>
    </h1>

    <div class="content">
      <hr class="divider" />

      <div class="about">
        <h3>À Propos De BASIC</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
  </div>

  <!-- Right Image Section -->
  <div class="image-section">
    <img src="assets/images/icescream.png" alt="Ice Cream" />
  </div>
</div>

<!-- Features Section -->
<div class="features">
  <div class="feature-item" *ngFor="let feature of features">
    <div class="icon">
      <img src="{{ feature.icon }}" alt="icon" />
    </div>

    <h4>{{ feature.title }}</h4>
    <p>{{ feature.subtitle }}</p>
  </div>
</div>
