<div class="unvisible__block" [ngClass]="{ 'd-none': card().isUp }">

</div>

<div class="card">
  <div class="card-img">
    <img src="{{ card().image }}" alt="Card Image 1" />
  </div>
  <div class="card-info">
    <div class="card-info__text">
      <p class="card-category">{{ card().category }}</p>
      <h3 class="card-title">{{ card().cta }}</h3>
      <p class="card-description">
        {{ card().description }}
      </p>
    </div>
    <button class="card-button" *ngIf="card().iconBtn">
      {{ card().tagline }}
      <img src="{{ card().iconBtn }}" alt="icon" />
    </button>
  </div>
</div>
