.layout-explore {
  background-image: url("../../../../public/assets/images/explore.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

  max-height: 666px;
  padding: 50px 0;
  margin: 50px auto 0;

  .explore-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    width: 30%;
    margin: auto;
    h2 {
      color: #562c2c;
      text-align: center;
      font-family: Poppins;
      margin: 0;
      font-size: 52px;
      font-style: normal;
      font-weight: 600;
      line-height: 60px; /* 115.385% */
      text-transform: capitalize;

      .hightlight {
        color: rgba(86, 44, 44, 0.5);
        font-family: Poppins;
        font-size: 52px;
        font-style: normal;
        font-weight: 600;
        line-height: 60px;
        text-transform: capitalize;
      }
    }

    p {
      color: #562c2c;
      text-align: center;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0;
    }

    button {
      display: flex;
      margin: 16px 0;
      padding: 12px 40px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 43px;
      background: var(--1, #f2542d);
      border: none;
    }
  }
}
